.body {
    background-color: #161b22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: calc(100vh - 60px);
}

.button {
    background-color: #161b22;
    text-align: right;
    color: white;
}

.su {
    padding: 7px 10px;
    border: solid 1px white;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 20px;
    transition: 0.2s;
}

.si {
    padding: 7px 10px;
    margin-right: 15px;
    transition: 0.5s;
}

.su:hover,
.si:hover {
    color: #d1cfcf;
    border-color: #d1cfcf;
}

#balance {
    color: #d1cfcf;
}

.container {
    margin: 4px;
    max-width: 500px;
    width: 100%;
}

.h {
    font-weight: bold;
    color: #8193b2;
}

.h1 {
    letter-spacing: 1px;
    font-size: 40px;
    margin: 0;
    color: #d1cfcf;
}

.h3 {
    padding-bottom: 10px;
    font-size: large;
    margin: 20px 0 10px;
}

.h4 {
    margin: 0;
    text-transform: uppercase;
}

.inc-exp-container h4 {
    color: #d1cfcf;
}

.inc-exp-container {
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 4px;
}

.inc-exp-container>div {
    flex: 1;
    text-align: center;
}

.inc-exp-container>div:first-of-type {
    border-right: 1px solid #30363d;
}

.money {
    font-size: 25px;
    letter-spacing: 1px;
    margin: 5px 0;
}

.money.plus {
    color: #599c6a;
    font-weight: bolder;
}

.money.minus {
    color: #c45a4e;
    font-weight: bolder;
}

label {
    display: inline-block;
    margin: 10px 0;
    color: #8193b2;
}

.form {
    margin-top: 0px;
    margin-right: 4px;
    margin-left: 4px;
}

.form-control input {
    border: 1px solid #30363d;
    border-radius: 2px;
    background-color: #0d1117;
    color: #d1cfcf;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.btn {
    cursor: pointer;
    background-color: #0ccc;
    box-shadow: var(--box-shadow);
    color: #fafafa;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
}

.btn:hover,
.delete-btn:hover {
    background-color: #0cc;
}

.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
    margin-right: 4px;
    margin-left: 4px;
}

.list li {
    background-color: #0d1117;
    border: 1px solid #30363d;
    box-shadow: var(--box-shadow);
    color: #d1cfcf;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.list li:hover {
    background-color: #11171f;
}

.list li.plus {
    border-right: 7px solid #599c6a;
}

.list li.minus {
    border-right: 7px solid #c45a4e;
}

.delete-btn {
    cursor: pointer;
    background-color: #0ccc;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
    opacity: 1;
}

@media (max-width: 320px) {
    .container {
        width: 300px;
    }
}