@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.login-body .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-body .main {
    background-color: #0d1117;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4px;
    padding: 4px;
}

.login-body .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #9CA3AF;
    background-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.login-body .pas {
    display: flex;
    justify-content: space-between;
    color: #9CA3AF;
    background-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.login-body .pas a {
    color: #0ccc;
    font-size: 14px;
}

.login-body .pas a:hover {
    text-decoration: none;
}

.login-body a {
    color: #0ccc;
    background-color: transparent;
    cursor: pointer;
}

.login-body a:hover {
    text-decoration: underline;
}

.login-body p {
    color: #dfdbdb;
    background-color: transparent;
}

.login-body form.sign-in {
    max-width: 350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #161b22;
    padding: 10px 10px;
    border-radius: 7px;
    cursor: default;
}

.login-body form.sign-out {
    max-width: 350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 3px solid #161b22;
    padding: 16px;
    margin-top: 20px;
    border-radius: 7px;
    text-align: center;
    cursor: default;
}

.login-body h2 {
    font-size: 1.75rem;
    text-align: center;
    background-color: transparent;
    color: #dfdbdb;
    margin-bottom: 10px;
}

.login-body input {
    border-radius: 8px;
    border: 1px solid #30363d;
    background-color: #0d1117;
    color: #FFF;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    outline: none;
    transition: 0.2s;
}


.login-body input:focus {
    border: 1px solid #0ccc;
    box-shadow: 0 0 0 2px #0ccc;
}

.login-body button {
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 0.65rem;
    margin-bottom: 0.65rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #0ccc;
    color: #FFF;
    font-weight: 600;
}

.login-body button:hover {
    background-color: #0cc;
}