@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Josefin Sans', sans-serif;
}

.logout-body {
    margin: 4px;
    padding: 4px;
}

.logout-body header {
    font-size: 16px;
}

.logout-body header p {
    text-align: right;
    padding: 15px 25px;
    color: #8193b2;
}

.logout-body header a {
    cursor: pointer;
    color: white;
}

.logout-body header a:hover {
    text-decoration: underline;
}

.logout-body form {
    max-width: 550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #0c162d;
    padding: 25px 25px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 7px;
    cursor: default;
}

.logout-body section {
    background-color: #0c162d;
}

.logout-body section.wlcm {
    padding-bottom: 15px;
}

.logout-body .wlcm p {
    color: #8193b2;
    margin: 10px 0px;
    white-space: pre-wrap;
    line-height: 25px;

}

.logout-body main p {
    color: #00cfc8;
    background-color: #0c162d;

}

.logout-body input {
    border: 2px solid transparent;
    background-color: transparent;
    border: 2px solid #8193b22c;
    color: white;
    font-size: 15px;
    width: 100%;
    padding: 3px;
    outline: none;
}

.logout-body input:focus {
    border: 2px solid #007ccf;
}

.logout-body button {
    width: 100%;
    background-color: transparent;
    color: #00b30f;
    width: 100%;
    margin-top: 20px;
    padding: 10px 5px;
    border: 1px solid #00b30f;
    border-radius: 7px;
    cursor: pointer;
}

.logout-body button:focus {
    border: 1px solid #007ccf
}

.logout-body footer {
    font-size: 13px;
    margin: 50px auto;
    max-width: 550px;
    width: 100%;
}

.logout-body footer p {
    color: #8193b2;
    word-spacing: 2px;
    line-height: 15px;
}

.logout-body footer a {
    color: #007ccf;
    text-decoration: underline;
    cursor: pointer;
}